# Terraform local files
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.local
.env.*.local

# Archives
*.zip